@font-face 
{
    font-family: DastNevis;
    src: url('/Content/Fonts/danstevis.ttf');
}

*{
	margin: 0px;
	padding: 0px;
	border: none;
}

body
{
    background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #4D4D4B 0%, #000000 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #4D4D4B 0%, #000000 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center top, ellipse farthest-corner, #4D4D4B 0%, #000000 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center top, 0, center top, 560, color-stop(0, #4D4D4B), color-stop(1, #000000));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #4D4D4B 0%, #000000 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center top, #4D4D4B 0%, #000000 100%);
    }

#container
{
	float: left;
}

#header
{
	width: 1000px;
    margin:0 auto;
    margin-top:10px;
    clear:both;
}

#header a:hover 
{
    border:0;
}

#title img 
{
    width:1000px;
    height:350px;
}

ul li a
{
	font-size: 16px;
}

#main
{
    
    margin:0 auto;
    width:1000px;
	clear:both;
}

ul
{
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}

ul#album-list
{
	list-style: none;
	margin-left: 0px;
}

ul#album-list li
{
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#album-list li a, ul#album-list li .button
{
	font-size: 13px;
	float: left;
}

ul#album-list li a span
{
	color: #9b9993;
	text-decoration: underline;
}

#cart
{
	float: right;
}

#update-message
{
	color: #F6855E;
	font-weight: bold;
}

.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;
}

.button a
{
	color: #fff !important;
}

#footer
{
	clear: both;
	padding: 20px;
    margin-bottom:10px;
	text-align: right;
	border-top: 2px dotted #8A8575;
	border-bottom: 2px dotted #8A8575;
	font-family: Constantia, Georgia, serif;
    font-size:1em;
}

/******************** Top Navigation ************************/
#navlist 
{
    margin-top:15px;
}

ul#navlist
{
	width: 260px;
  /* float: right; */
    margin: 0 auto;
    margin-top:-50px;
}

ul#navlist li
{
	display: inline;
}

ul#navlist li a
{
	padding: 10px;
	margin-top: 10px;
	color: #8A8575;
	text-decoration: none;
	float: left;
}

ul#navlist li:first-child a
{
	border: none;
}

ul#navlist li a:hover
{
	color: #F6855E;
}

/********************* End top navigation ***************************/

p
{
	margin-bottom: 15px;
	margin-top: 0px;
}

h2
{
	color: #5e5b54;
}

h2, h3
{
	margin-bottom: 10px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

h3
{
	color: #9B9993;
}

#header h1 a, h3 em
{
	color: #5E5B54;
}

a:link, a:visited
{
	color: #F6855E;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

a:active
{
	color: #006633;
	text-decoration: none;
	font-weight: bold;
}

/***************************** sidebar navigation ****************************/

#categories
{
	font-family: Constantia, Georgia, serif;
	list-style-type: none;
	border-right: #5d5a53 1px dotted;
	padding-right: 10px;
	margin: 0 25px 10px 0;
	float: left;
}

#categories a:link, #categories a:visited
{
	color: #9B9993;
	text-decoration: none;
}

#categories a:hover
{
	color: #F46739;
}

div#album-details p
{
	margin-bottom: 5px;
	color: #5e5b54;
	font-weight: bold;
}

p em
{
	color: #9b9993;
}

/* Form styles */
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 300px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Tables */
table
{
	border: 1px solid #000;
	border-collapse: collapse;
	color: #666666;
	min-width: 500px;
	width: 100%;
}

tr
{
	border: 1px solid #000;
	line-height: 25px;
}

th
{
	background-color: #9b9993;
	color: #000;
	font-size: 13px;
	text-align: left;
}

th, td
{
	padding-left: 5px;
}

tr:hover
{
	background-color: #fff;
}

/*Slider*/
#mcis {
	 display: none;
	}
	
	#sliderFrame {
	 position: relative;
	 width: 1000px;
	 margin: 0 auto;
	}
	
	#ribbon {
	 width: 100px;
     height: 145px;
     position: absolute;
     top: 0;
     left:0;
	 opacity:1;
	 background: url(/Content/Images/medal.png) no-repeat;
	 z-index: 7;
	}
	
	#slider {
	 width: 1000px;
	 height: 400px;
	 background: #fff url(http://bayanbox.ir/view/7338039479269732183/loading.gif) no-repeat 50% 50%;
	 position: relative;
	 margin: 0 auto;
	 /*box-shadow: 0px 1px 5px #999999;*/
	 margin-bottom:10px;
	}
	
	#slider img {
	 position: absolute;
	 border: none;
	 display: none;
	}
	
	#slider a.imgLink {
	 z-index: 2;
	 display: none;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 border: 0;
	 padding: 0;
	 margin: 0;
	 width: 100%;
	 height: 100%;
	}
	
	div.mc-caption-bg, div.mc-caption-bg2 {
	 position: absolute;
	 width: 100%;
	 height: auto;
	 padding: 0;
	 left: 0px;
	 bottom: 0px;
	 z-index: 3;
	 overflow: hidden;
	 font-size: 0;
	}
	
	div.mc-caption-bg {
	 background-color: black;
	}
	
	div.mc-caption {
	 font: bold 16px DastNevis;
	 color: #fff;
	 z-index: 4;
	 padding: 10px 0;
	 text-align: center;
	}
	
	div.mc-caption a {
	 color: #FB0;
	}
	
	div.mc-caption a:hover {
	 color: #DA0;
	}
	
	div.navBulletsWrapper {
     top: 370px;
     /* bottom: 45px; */
     left: 0;
     width: 200px;
     background: none;
     padding-left: 20px;
     position: relative;
     z-index: 5;
     cursor: pointer;
	}
	
	div.navBulletsWrapper div {
	 width: 11px;
	 height: 11px;
	 background: transparent url(http://bayanbox.ir/view/6193885459633549308/bullet.png) no-repeat 0 0;
	 float: left;
	 overflow: hidden;
	 vertical-align: middle;
	 cursor: pointer;
	 margin-right: 11px;
	 _position: relative;
	}
	
	div.navBulletsWrapper div.active {
	 background-position: 0 -11px;
	}
	
	#slider {
	 transform: translate3d(0,0,0);
	 -ms-transform: translate3d(0,0,0);
	 -moz-transform: translate3d(0,0,0);
	 -o-transform: translate3d(0,0,0);
	 -webkit-transform: translate3d(0,0,0);
	}
	/*Slider End*/