@using Blog.Models
@model IEnumerable<Post>


@{
    ViewBag.Title = "Tag : " + ViewBag.tagname;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

<h3 class="message">لیست پست های تگ شده با : @ViewBag.tagname</></h3>

@foreach (Post post in Model)
{
    @PostHelper.Render(post, Html, isAdmin, false)
}

