@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>We're Sorry, We've Hit an Unexpected Error.
    <a href="javascript:history.go(-1)">Click Here</a>
    if you would like to go back and try again.
</p>
